---
import BuyButton from "@/components/BuyButton.astro";
import Countdown from "@/components/Countdown";
---

<section id='stack' class='relative py-16'>
  <!-- Fondo decorativo -->
  <div
    class='w-full max-w-7xl mx-auto px-6 text-center items-center flex flex-col gap-8 relative'
  >
    <div class='flex flex-col justify-center items-center gap-6 w-full'>
      <!-- Título con decoración -->
      <div class='flex flex-col gap-6 w-full items-center'>
        <div class='relative'>
          <h3
            class='mt-12 title text-6xl font-bold flex flex-row items-center justify-center gap-2 text-primary'
            style="font-family: 'Caprasimo', cursive"
          >
            <img src='/alert.gif' alt='' class='size-12 md:size-14' />
            ¡Oferta de Lanzamiento!
            <img src='/alert.gif' alt='' class='size-12 md:size-14' />
          </h3>
        </div>

        <!-- Contenedor de precios con más efectos -->
        <div
          class='bg-accent/50 w-full rounded-3xl p-8 md:p-10 transition-all duration-300 bg-gradient-to-tr shadow-lg to-light/10'
        >
          <div class='flex flex-col gap-6 items-center justify-center'>
            <div class='flex items-center relative gap-6 flex-col'>
              <Countdown deadline='2025-03-25' client:load />
              <p class='text-lg text-text/80 font-medium'>
                Oferta válida hasta el martes 25 de marzo
              </p>
              <!-- Etiqueta de precio anterior -->
              <h2
                class='text-xl md:text-2xl font-bold text-center text-text max-w-xl bg-white/30 shadow-lg p-4 rounded-lg'
              >
                Introduce la palabra <span class='special'>CUIDATE2025</span> y obtén
                un
                <span class='special'>20% OFF</span> sobre el precio original
              </h2>
            </div>
            <!-- Precio actual con efectos -->
            <div class='flex flex-col items-start'>
              <div class='flex items-center gap-2 flex-col'>
                <span
                  class='text-3xl font-bold text-emerald-500 bg-emerald-500/10 px-3 py-1 rounded-full animate-pulse'
                >
                  AHORRA 37,40€
                </span>
                <span class='text-3xl text-yellow-600'>20% OFF</span>
                <h1
                  class='text-green-500 text-6xl md:text-9xl font-bold hover:scale-105 transition-transform'
                >
                  149,60€
                </h1>
              </div>
            </div>
            <div class='relative'>
              <span
                class='absolute -top-5 right-0 text-xs fonst-bold text-red-500 bg-red-500/10 px-2 py-1 rounded-full'
              >
                Precio normal
              </span>
              <h1 class='text-text font-bold text-2xl md:text-5xl mr-4'>
                Precio original: <span class='line-through'>187€</span>
              </h1>
            </div>
          </div>

          <div class='mt-8 space-y-3'>
            <p
              class='special text-text text-lg font-bold animate-bounce bg-emerald-500/10 inline-block px-6 py-2 rounded-full shadow-lg'
            >
              ¡Solo 10 plazas disponibles!
            </p>
          </div>
          <div class='text-center'>
            <BuyButton text='Unirme al programa' />
          </div>
          <img src='/stack.png' alt='' class='w-full h-full' />
        </div>
      </div>
    </div>
  </div>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

    .special {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: normal;
      background: radial-gradient(
          ellipse farthest-corner at right bottom,
          #fedb37 0%,
          #fdb931 8%,
          #9f7928 30%,
          #8a6e2f 40%,
          transparent 80%
        ),
        radial-gradient(
          ellipse farthest-corner at left top,
          #ffffff 0%,
          #ffffac 8%,
          #d1b464 25%,
          #5d4a1f 62.5%,
          #5d4a1f 100%
        );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
    }

    @keyframes float {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0px);
      }
    }

    .title {
      animation: float 3s ease-in-out infinite;
    }
  </style>
</section>
